<ion-header>
  <ion-toolbar>
    <ion-title>GentGarages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionBlur)="addSearch($event)" (keydown.enter)="$event.target.blur(); $event.stopPropagation()" animated></ion-searchbar>
<ion-list class="card-container"  *ngIf="garages$ | async as garages">
  <ion-card *ngFor="let garage of garages.records" button="true" [routerLink]="['./',garage.recordid]">
    <!--change this to use custom img service to get first search result based on title name-->
    <img src="https://loremflickr.com/640/360" loading="lazy" [alt]="'image of ' + garage.fields.name" />
    <ion-card-header>
      <ion-card-title>{{garage.fields.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{removeWeirdChars(garage.fields.description)}}
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
